<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Сыграем в одну игру?</title>
    <link rel="stylesheet" type="text/css" href="../static/css/clock.css"/>
</head>
<body>

<div class="timerWrap" id="cubes1">
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
</div>
<div class="timerWrap" id="cubes2">
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
</div>

<div class="timerWrap point" id="cubes">

    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
        </div>
    </div>
</div>

<div class="timerWrap" id="cubes3">
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
</div>
<div class="timerWrap" id="cubes4">
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
    <div class="cuberow">
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
        <div class="cube">
            <div class="cubefront"></div>
            <div class="cubetop"></div>
            <div class="cubeback"></div>
            <div class="cubebottom"></div>
            <div class="cubeleft"></div>
            <div class="cuberight"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/task_5.js"></script>
</body>
</html>

