<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/gallery.css"/>
</head>

<body >
<div>
    <div class="block aside">
        <h2>Выберите картинку</h2>
        <div class="prevue-container slick-slider multiple-items">

            <div>
                <img id="1" src="../static/src/1.png" class="prev">
            </div>
            <div>
                <img  id="2" src="../static/src/5c1750c6bd0470ee508b46be.jpg" class="prev">
            </div>
            <div>
                <img id="3" src="../static/src/1368540400_1138520603.png" class="prev">
            </div>
            <div>
                <img id="4" src="../static/src/s1200.png" class="prev">
            </div>
            <div>
                <img id="5" src="../static/src/Warhammer-40000-Wh-Песочница-фэндомы-Necrons-2998806.png" class="prev">
            </div>
            <div>
                <img id="6" src="../static/src/1.png" class="prev">
            </div>
            <div>
                <img  id="7" src="../static/src/5c1750c6bd0470ee508b46be.jpg" class="prev">
            </div>
            <div>
                <img id="8" src="../static/src/1368540400_1138520603.png" class="prev">
            </div>
            <div>
                <img id="9" src="../static/src/s1200.png" class="prev">
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Полноразмерная картинка</h2>
        <div class="main-picture">
            <img data-id class="standart" src="../static/src/1.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script src="../static/slick/slick.min.js"></script>
<script type="text/javascript" src="../static/js/task_1.js"></script>
</body>
</html>


