<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
<!--    <link rel="stylesheet" href="https://slot1-images.wikia.nocookie.net/__am/1567621561142/sasses/background-dynamic%3Dfalse%26background-image%3D%26color-body%3D%2523454545%26color-body-middle%3D%2523bacdd8%26color-buttons%3D%2523fec356%26color-community-header%3D%2523846d35%26color-header%3D%25233a5766%26color-links%3D%2523fec356%26color-page%3D%2523000000%26oasisTypography%3D1%26page-opacity%3D92%26widthType%3D0%26wordmark-font%3Dmegalopolis/skins/oasis/css/oasis.scss,extensions/wikia/Forum/css/ForumTag.scss,extensions/wikia/DesignSystem/styles/design-system.scss,extensions/wikia/CommunityHeader/styles/index.scss,extensions/wikia/PageHeader/styles/index.scss,extensions/wikia/Recirculation/styles/recirculation.scss,extensions/wikia/PortableInfobox/styles/PortableInfobox.scss,extensions/wikia/AdEngine3/dist/styles.scss,extensions/wikia/Qualaroo/css/Qualaroo.scss">-->

<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
</head>
<body>
<h1 class="header">Фабий Байл</h1>
<div>
    <div class="WikiaMainContent">
        <aside class="aside">
            <div>
                <img src="../static/src/Fabius_Bile_Fullbody.png" width="270" height="390"
                     alt="Иллюстрация" class="fig">

                <table >
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Прозвище</td>
                        <td>
                            До Ереси — «Паук», после Ереси — «Прародитель»
                            (излюбленное прозвище Фабия), «Свежеватель», «Мастер Химии»,
                            «Лорд Клонов». Среди своих созданий известен,
                            как «Благодетель» и «Патер Мутатис» («Отец Мутаций»).
                        </td>
                    </tr>
                    <tr>
                        <td>Раса</td>
                        <td>
                            Человек
                        </td>
                    </tr>
                    <tr>
                        <td>Фракция</td>
                        <td>
                           <a href="https://warhammer40k.fandom.com/ru/wiki/
                           %D0%9A%D0%BE%D1%81%D0%BC%D0%BE%D0%B4%D0%B5%D1%81%D0%B0%D0%BD%D1%82_
                           %D0%A5%D0%B0%D0%BE%D1%81%D0%B0"> Космодесант Хаоса </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Принадлежность</td>
                        <td>
                            <a href="https://warhammer40k.fandom.com/ru/wiki/Дети_Императора"> Дети Императора </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Родной мир</td>
                        <td>
                            Терра (Ингольштадт, Бавария)
                        </td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        <td>
                           Жив
                        </td>
                    </tr>
                </table>
            </div>
        </aside>
        <div class="citate">
            <blockquote>
                <q>
                    Если человек посвящает свою жизнь добрым делам и помощи ближним,
                    то он сгинет в безвестности и неблагодарности. Если же он направит
                    свой гений на причинение страданий и смерти миллиардам, имя его будет греметь
                    в веках у тысяч поколений на устах. Дурная слава всегда предпочтительней забвения.
                </q>
                <p><cite>- Фабий Байл</cite></p>
            </blockquote>
        </div>

        <p>
            <b> Фабий Байл </b> — Лорд Хаоса, бывший старший апотекарий легиона Детей Императора.
        </p>

        <h2>Биография</h2>
        <p>
            Фабий Байл странствовал по галактике куда дольше, чем кто-либо из Лордов
            <a href="https://warhammer40k.fandom.com/ru/wiki/Космодесант_Хаоса">легионов-предателей</a>.
            На Диммамаре он известен как Мастер Химии, на Арден IX и системе Брэй — как
            Свежеватель, для несчастных племён, живущих средь опустошённых ульев Парамара V, он
            предстаёт Лордом Клонов. Сам себя он зовет «Прародитель», утверждая, что раскрыл
            тайны работы <a href="https://warhammer40k.fandom.com/ru/wiki/Император_Человечества">Императора</a> в деле сотворения
            <a href="https://warhammer40k.fandom.com/ru/wiki/Примарх" >примархов</a> и
            первых <a href="https://warhammer40k.fandom.com/ru/wiki/Адептус_Астартес">космических десантников</a>.
        </p>
        <p>
            Уровень алхимических познаний Байла и его способностей к генетическим
            манипуляциям можно оценить на любой планете, которой не посчастливилось иметь
            контакт с Фабием, поскольку Лорд Хаоса оставлял след из гнусных предателей и
            извращённых чудовищ везде, где только ни приземлялись его корабли. Его имя стало
            настоящим проклятьем для <a href="https://warhammer40k.fandom.com/ru/wiki/Адептус_Терра">Адептус Терра</a> по мере того, как
            привносимая им в генетический материал человечества скверна становилась
            всё более и более очевидной. Населения целых миров были истреблены Адептус Астартес в
            попытках вычистить создания Байла огнём и мечом. По большей части они находили некогда
            цивилизованные миры населёнными ордами искажённых, отвратительных чудовищ.
        </p>
        <p>И что интереснее, в некоторых битвах космические десантники Императора встречали
            ожесточённое сопротивление со стороны кадрового состава из генетически усиленных людей,
            сражавшихся с дьявольской силой и хитростью. Эти измёненные порождения экспериментов Байла
            обладают скоростью, мускулатурой и интеллектом, во много раз превосходящими стандартные
            человеческие характеристики, и являются коварными, безумными убийцами. Этими творениями, вершиной
            своего искусства, Фабий гордится больше всего, Новый Человек в его видениях распространится по всей
            галактике: переменчивый, эгоистичный, одержимый, агрессивный, предательский, кровожадный. Каждая из
            худших человеческих черт была привита этим существам и скрещена с психикой тирана и силой безумца.
            Даже <a href="https://warhammer40k.fandom.com/ru/wiki/Инквизиция" >Инквизиция</a> не
            имеет понятия, скольким из этих тварей удалось сбежать в дебри вселенной, но имперские агенты
            прекрасно понимают, что этих чудовищ практически невозможно обнаружить до тех пор, пока их врождённый
            психоз не ввергнет их в неистовую круговерть убийств.
        </p>

    </div>
</div>
</body>
</html>